@font-face {
  font-family: "Lato";
  src: url("./Lato-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Lato";
  src: url("./Lato-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Maven";
  src: url("./MavenPro-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif;
}

.main-header {
  width: 100%;
  position: relative;
}

.main-header:before {
  content: '';
  position: absolute;
  top: 0px;
  display: block;
  width: 100%;
  height: 63px;
  background: #323232;
}

.main-menu {
  position: relative;
  display: flex;
  height: 74px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 390px;
  margin: auto;
  box-sizing: border-box;
}

.main-menu__link {
  position: relative;
  display: inline-block;
  color: white;
  text-align: center;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: bold;
  text-decoration: none;
    
}

.link-decor {
    display: block;
    width: 2px;
    height: 2px;
    background: #484c5f;
    border-radius: 50%;
}

.main-menu__link:hover {
     color: #2eb398;
}

.main-menu__link-active {
    
    color: #2eb398;
}

.main-menu__home {
  position: relative;
  width: 90px;
  height: 74px;
  background-image: url('../assets/img/logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1000;
}

.main-menu__home:before {
  position: absolute;
  top: 63px;
  display: flex;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 45px 0 45px;
  border-color: #323232 transparent transparent transparent;
  z-index: 2000;
}

:root {
  --hexagon-container-width: 1000px;
  --hexagon-width: 180px;
  --hexagon-margin: 10px;
}

.hexagon-container {
  display: flex;
  flex-wrap: wrap;
  width: var(--hexagon-container-width);
  margin: auto;
  margin-top: 4.5%;
  overflow: hidden;
}

.hexagon {
  position: relative;
  width: var(--hexagon-width);
  height: 210px;
  margin: var(--hexagon-margin);
  transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
  animation: eye 3s ease-in-out infinite;
  -webkit-animation: eye 3s ease-in-out infinite;
}

.hex-layer-1 {
  width: 100%;
  height: 100%;
  visibility: hidden;
  transform: rotate(-60deg);
  overflow: hidden;
}

.hex-layer-2 {
  width: 100%;
  height: 100%;
  background: rgba(226, 118, 118, 0.43);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  transform: rotate(-60deg);
  overflow: hidden;
  visibility: visible;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.hexagon:first-of-type {
  margin-left: 110px;
}

.hexagon:nth-of-type(n+5):nth-of-type(-n+9) {
  top: -60px;
}

.hexagon:nth-of-type(n+10):nth-of-type(-n+13) {
  top: -120px;
}

.hexagon:nth-of-type(n+10):nth-of-type(-n+10) {
  margin-left: 110px;
}

.hexagon:nth-of-type(1) .hex-layer-2 {
  background-image: url(../assets/img/i1.jpg);
}

.hexagon:nth-of-type(2) .hex-layer-2 {
  background-image: url(../assets/img/i2.jpg);
}

.hexagon:nth-of-type(3) .hex-layer-2 {
  background-image: url(../assets/img/i3.jpg);
}

.hexagon:nth-of-type(4) .hex-layer-2 {
  background-image: url(../assets/img/i4.jpg);
}

.hexagon:nth-of-type(5) .hex-layer-2 {
  background-image: url(../assets/img/i5.jpg);
}

.hexagon:nth-of-type(6) .hex-layer-2 {
  background-image: url(../assets/img/i6.jpg);
}

.hexagon:nth-of-type(7) .hex-layer-2 {
  background-image: url(../assets/img/i7.jpg);
}

.hexagon:nth-of-type(8) .hex-layer-2 {
  background-image: url(../assets/img/i8.jpg);
}

.hexagon:nth-of-type(9) .hex-layer-2 {
  background-image: url(../assets/img/i9.jpg);
}

.hexagon:nth-of-type(10) .hex-layer-2 {
  background-image: url(../assets/img/i10.jpg);
}

.hexagon:nth-of-type(11) .hex-layer-2 {
  background-image: url(../assets/img/i11.jpg);
}

.hexagon:nth-of-type(12) .hex-layer-2 {
  background-image: url(../assets/img/i12.jpg);
}

.hexagon:nth-of-type(13) .hex-layer-2 {
  background-image: url(../assets/img/i13.jpg);
}

.hexagon .hex-layer-2:hover {
  background-size: 140%;
}

.section-person {
  background: #2eb398;
  padding: 70px 16px;
}

.person {
  max-width: 780px;
  margin: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  font-family: sans-serif;
  color: #FFF;
  height: auto;
  overflow: hidden;
}

.hexagon.person__hexagon:first-of-type {
  position: relative;
  margin-left: 0px;
  margin-top: 0px;
}

.section-person .person__hexagon .hex-layer-2 {
  background-image: url(../assets/img/avatar.jpg);
  background-size: 240%;
}

.person__name {
  font-size: 30px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: normal;
      position: relative;
    top: -7px;
}

.person__profession {
  color: #20816d;
  font-size: 18px;
  font-family: "Maven", "Arial", sans-serif;
  font-weight: normal;
      display: block;
    position: relative;
    top: -10px;
}

.person__text {
  font-size: 12px;
  line-height: 1.8;
  display: block;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: normal;
  padding-top: 3px;
}

.person__links {
  display: flex;
  justify-content: flex-end;
  height: 25px;
  margin-top: 40px;
}

.person__link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  text-decoration: none;
  background: #a4dbd4;
}

.person__link-item i {
  color: #00ab94;
}

.person__link-item:nth-of-type(2) {
  background: #6ccbbe;
}

.person__link-item:nth-of-type(3) {
  background: #80d1c6;
}

.person__link-item:nth-of-type(6) {
  background: #6dcbbe;
}

.section-form {
  background: #323232;
  padding: 16px;
}

.section-form__wrap {
  display: grid;
  justify-content: center;
  padding: 67px 0px;
  color: white;
  width: auto;
  max-width: 780px;
  grid-template-columns: 1fr 200px;
  grid-template-areas: "title title" "form aside";
  column-gap: 20px;
  margin: auto;
}

.form {
  grid-area: form;
  overflow: hidden;
  padding: 16px 0px;
}

.form-title {
  grid-area: title;
  font-family: "Maven", "Arial", sans-serif;
  font-weight: normal;
  color: #bebebe;
}

.form-title h2 {
  font-family: "Maven", "Arial", sans-serif;
  font-weight: normal;
  color: white;
}

.form__input {
  display: block;
  width: 100%;
  background: #454545;
  border: none;
  color: white;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 16px;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: normal;
}

.form__but {
  float: right;
  text-transform: uppercase;
  padding: 14px 30px;
  font-size: 12px;
  color: white;
  border: none;
  background: #2eb398;
}

.aside-form {
  grid-area: aside;
  width: auto;
  box-sizing: border-box;
}

.aside-form__text {
  font-size: 12px;
  line-height: 1.5;
  padding-bottom: 20px;
  text-align: justify;
  color: #bebebe;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: normal;
}

.aside-form__text span {
  color: white;
  font-weight: bold;
}

.contacts__item {
  color: #bebebe;
  list-style: none;
  font-size: 12px;
  padding: 5px 0px;
  font-style: normal;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: bold;
}

.contacts__item i {
  display: inline-block;
  padding-right: 20px;
  color: #2eb398;
}

.main-footer {
  min-height: 44px;
  display: flex;
  align-items: center;
  padding: 0px 40px;
  background: #222222;
  color: #3f3f3f;
}

.copyright {
  font-style: normal;
  font-size: 12px;
}

@media screen and (max-width: 992px) {
   :root {
    --hexagon-container-width: 750px;
    --hexagon-width: 130px;
    --hexagon-margin: 10px;
  }
  .hexagon:first-of-type {
    margin-left: 85px;
  }
  .hexagon:nth-of-type(n+5):nth-of-type(-n+9) {
    top: -100px;
  }
  .hexagon:nth-of-type(n+10):nth-of-type(-n+13) {
    top: -200px;
  }
  .hexagon:nth-of-type(n+10):nth-of-type(-n+10) {
    margin-left: 85px;
  }
}

@media screen and (max-width: 768px) {
   :root {
    --hexagon-container-width: 600px;
    --hexagon-width: 110px;
    --hexagon-margin: 5px;
  }
  .hexagon:first-of-type {
    margin-left: 65px;
  }
  .hexagon:nth-of-type(n+5):nth-of-type(-n+9) {
    top: -115px;
  }
  .hexagon:nth-of-type(n+10):nth-of-type(-n+13) {
    top: -230px;
  }
  .hexagon:nth-of-type(n+10):nth-of-type(-n+10) {
    margin-left: 65px;
  }
}

@media screen and (max-width: 620px) {
   :root {
    --hexagon-container-width: 500px;
    --hexagon-width: 96px;
    --hexagon-margin: 2px;
  }
  .hexagon:first-of-type {
    margin-left: 53px;
  }
  .hexagon:nth-of-type(n+5):nth-of-type(-n+9) {
    top: -127px;
  }
  .hexagon:nth-of-type(n+10):nth-of-type(-n+13) {
    top: -253px;
  }
  .hexagon:nth-of-type(n+10):nth-of-type(-n+10) {
    margin-left: 53px;
  }
}

@media screen and (max-width: 500px) {
   :root {
    --hexagon-container-width: 300px;
  }
  .hexagon-container {
    overflow: hidden;
    max-height: 650px;
  }
  .hexagon:nth-of-type(n+5):nth-of-type(-n+9) {
    top: 0px;
  }
  .hexagon:nth-of-type(n+10):nth-of-type(-n+13) {
    top: 0px;
  }
  .hexagon:nth-of-type(n+10):nth-of-type(-n+10) {
    margin-left: 0px;
  }
  .hexagon {
    width: 96px;
    height: 210px;
    margin: 2px;
  }
  .hexagon:first-of-type {
    margin-left: 53px;
  }
  .hexagon:nth-of-type(n+3):nth-of-type(-n+5) {
    top: -125px;
  }
  .hexagon:nth-of-type(n+6):nth-of-type(-n+6) {
    margin-left: 53px;
  }
  .hexagon:nth-of-type(n+6):nth-of-type(-n+7) {
    top: -250px;
  }
  .hexagon:nth-of-type(n+8):nth-of-type(-n+10) {
    top: -377px;
  }
  .hexagon:nth-of-type(n+10):nth-of-type(-n+10) {
    margin-left: 2px;
  }
  .hexagon:nth-of-type(n+11):nth-of-type(-n+11) {
    margin-left: 53px;
  }
  .hexagon:nth-of-type(n+11):nth-of-type(-n+12) {
    top: -503px;
  }
  .hexagon:nth-of-type(n+13):nth-of-type(-n+13) {
    top: -629px;
    margin-left: 103px;
  }
  .section-form__wrap {
    display: grid;
    justify-content: center;
    padding: 67px 0px;
    color: white;
    width: auto;
    max-width: 780px;
    grid-template-columns: 1fr 200px;
    grid-template-areas: "title title" "form form" "aside aside";
    column-gap: 20px;
    margin: auto 20px;
  }
  .person {
    grid-template-columns: auto;
    align-items: center;
    text-align: center;
  }
  .hexagon.person__hexagon:first-of-type {
    width: 150px;
    position: relative;
    margin: auto;
  }
}